# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build/*
!build/opencv2
!build/lib
!build/3rdparty
build/3rdparty/*
!build/3rdparty/lib
!build/*.cmake
node_modules
CMakeSettings.json
xcuserdata/
